nav ul a,
nav .brand-logo {
  color: white;
}

.sect1 {
  position: relative;
  min-height: 400px;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 15px 2%;
  max-width: 700px;
  width: 100%;
}
