nav ul a,
nav .brand-logo {
  color: white;
}

.sect1 {
  position: relative;
  min-height: 400px;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 15px 2%;
  max-width: 700px;
  width: 100%;
}

.custom-title {
  position: relative;
}

div.custom-title > h2 {
  font-size: 25px;
  color: #777;
  background-color: white;
  display: inline-block;
  z-index: 2;
  position: relative;
  padding-right: 10px;
}

div.custom-title > p {
  font-size: 20px;
}

div.custom-title > div.line-style {
  width: 100%;
  position: absolute;
  height: 3px;
  top: 50px;
  left: 0;
  z-index: 1;
  background-color: #777;
}
